<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<center><h1>TRANG CHỦ</h1>
    <img src="daucatmoi.jpg" alt="Anh dep"  width="150" height="100">
    <br>
    <small>Đảng quang vinh muôn năm</small>
</center>
<br>
<b>Truy Cập Vào Trang: </b>
<a href="/student">
    Phụ
</a>
</body>
</html>